@using System.Security.Claims
@using Mumaken.Domain.Entities.UserTables
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@using Mumaken.Domain.Enums
@using System.Globalization;
@inject SignInManager<ApplicationDbUser> SignInManager
@inject UserManager<ApplicationDbUser> UserManager
@{

    string userId = UserManager.GetUserId(User);
    var user = await UserManager.FindByIdAsync(userId);
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "/" : $"{Context.Request.Path.Value}";
    var lang = CultureInfo.CurrentUICulture.TwoLetterISOLanguageName;
}

<!DOCTYPE html>
<html lang="@lang" dir=@(lang=="ar"?"rtl":"ltr")>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A fully featured admin theme which can be used to build CRM, CMS, etc.">
    <meta name="author" content="Coderthemes">

    <link rel="shortcut icon" href="~/images/logo.png" />
    <title>@localizer["Mumaken"]</title>



    <!-- DataTables -->
    <link href="~/assets/plugins/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/buttons.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/fixedHeader.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/responsive.bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/datatables/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" rel="stylesheet" />

    <!-- Custom box css -->
    <link href="~/assets/plugins/custombox/dist/custombox.min.css" rel="stylesheet">




    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    @*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.0.1/css/tempusdominus-bootstrap-4.min.css" />*@

    <link href="~/assets/css/select-2.css" rel="stylesheet" />
    <link href="~/assets/plugins/nice-select/css/nice-select.css" rel="stylesheet" />
    <link href="~/assets/css/tempusdominus-bootstrap-3.min.css" rel="stylesheet" />
    <link href="~/assets/css/core.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/icons.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/pages.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/menu.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/assets/css/new-style.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
    

    <script src="~/assets/js/modernizr.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
   

</head>

<body class="fixed-left">

    <!-- Begin page -->
    <div id="wrapper">

        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- LOGO -->
            <div class="topbar-left skin-background2">
                <a href="/" class="logo">
                    <span>
                        <img src="~/images/logoA.png" />

                    </span><i class="zmdi zmdi-layers"></i>
                </a>
            </div>

            <!-- Button mobile view to collapse sidebar menu -->
            <div class="navbar navbar-default skin-background2" role="navigation">

                <!-- Page title -->
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button class="button-menu-mobile open-left">
                            @*<i class="zmdi zmdi-menu"></i>*@
                            <img src="~/images/noun_menu_340674.png" />

                        </button>
                    </li>
                    <li>
                        <h4 class="page-title"> @localizer["Dashboard"]    </h4>
                    </li>
                </ul>

                <!-- Right(Notification and Searchbox -->

@*                 <ul class="nav navbar-nav navbar-right">
                    <li>

                        <!-- Notification -->
                        <div class="notification-box" style="display:none">
                            <ul class="list-inline m-b-0">
                                <li>
                                    <a href="javascript:void(0);" class="right-bar-toggle" onclick="ShowNotif()">
                                        <i class="zmdi zmdi-notifications-none"></i>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        <!-- End Notification bar -->

                    </li>

                    <li class="hidden-xs" style="display:none">
                        <form role="search" class="app-search">
                            <input type="text" placeholder="Search..."
                                   class="form-control">
                            <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>
                </ul> *@

                <div class="Lang_Btn">
                    <button type="button" class="@(lang=="ar"?"active":"")" onclick="changeLanguage('ar-EG')">AR</button>
                    <button type="button" class="@(lang=="en"?"active":"")" onclick="changeLanguage('en-US')">EN</button>
                </div>


            </div><!-- end navbar -->
        </div>
        <!-- Top Bar End -->
        <!-- ========== Left Sidebar Start ========== -->
        <div class="left side-menu skin-background">
            <div class="sidebar-inner slimscrollleft">

                <!-- User -->
                <div class="user-box">
                    <a asp-area="Identity" asp-page="/Account/EditUser">
                        <div class="user-img">
                            <img style="height: 100%;width: 100%;" src="~/@user.ImgProfile" alt="user-img" class="img-circle img-thumbnail img-responsive">
                            <div class="user-status offline"><i class="zmdi zmdi-dot-circle"></i></div>
                        </div>
                    </a>
                    <h5><a href="#"></a> </h5>
                    <ul class="list-inline">
                        <li>
                            <a asp-area="Identity" asp-page="/Account/EditUser">
                                <i class="zmdi zmdi-settings"></i>
                            </a>
                        </li>

                        <li>
                            <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" method="post">

                                <button type="submit" class="skin-background2">
                                    <i class="zmdi zmdi-power"></i>
                                </button>

                            </form>

                        </li>
                    </ul>
                </div>
                <!-- End User -->
                <!--- Sidemenu -->
                <div id="sidebar-menu">

                    <!--Slider-->
                    <ul>
                        <li style="display:none" class="text-muted menu-title">Navigation</li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                                    <i class="fa fa-home" aria-hidden="true"></i>
                                    <span>@localizer["Dashboard"]</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Clients.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Clients" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Drivers"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.RentalCompany.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="RentalCompanies" asp-action="Index">
                                    <i class="zmdi zmdi-settings"></i>
                                    <span>@localizer["Rental Companies"] </span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.DeliveryCompany.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="DeliveryCompany" asp-action="Index">
                                    <i class="zmdi zmdi-settings"></i>
                                    <span>@localizer["Delivery Companies"] </span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.RentalCompany.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="RentalCompanies" asp-action="NotApprovalRentalCompany">
                                    <i class="zmdi zmdi-settings"></i>
                                    <span> @localizer["Pending Rental Companies"]</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.DeliveryCompany.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="DeliveryCompany" asp-action="NotApprovalDeliveryCompany">
                                    <i class="zmdi zmdi-settings"></i>
                                    <span> @localizer["Pending Delivery Companies"]</span>
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Orders.ToString()))
                        {
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="label label-warning pull-left"></span>
                                    <span>@localizer["Orders"]</span>
                                </a>
                                <ul class="list-unstyled" style="">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="Index">
                                            <i class="zmdi zmdi-settings"></i>
                                            <span>@localizer["All Orders"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="GetRentalCompanyOrders">
                                            <i class="zmdi zmdi-view-dashboard"></i>
                                            <span> @localizer["Rental Orders"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Orders" asp-action="GetDeliveryCompanyOrders">
                                            <i class="zmdi zmdi-view-dashboard"></i>
                                            <span> @localizer["Delivery Orders"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Cities.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Cities" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Cities"]
                                </a>
                            </li>
                        }

                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Regoins.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Regions" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Regions"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.CarType.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="CarType" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Car Brands"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.CarModel.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="CarModel" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Car Models"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.CarCategory.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="CarCategory" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Car Categories"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Copon.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Copons" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Coupons"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Nationality.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Nationalities" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Nationalities"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.FinancialAccounts.ToString()))

                        {
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="label label-warning pull-left"></span>
                                    <span> @localizer["Financial Accounts"]  </span>
                                </a>
                                <ul class="list-unstyled" style="">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="FinancialAccounts" asp-action="OrderCashFinancialAccountsConfirmed">
                                            <i class="zmdi zmdi-settings"></i>
                                            <span>@localizer["Settled Cash Orders"] </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="FinancialAccounts" asp-action="OrderCashFinancialAccountsNotConfirmed">
                                            <i class="zmdi zmdi-view-dashboard"></i>
                                            <span>@localizer["Unsettled Cash Orders"] </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="FinancialAccounts" asp-action="OrderOnlineFinancialAccountssConfirmed">
                                            <i class="zmdi zmdi-settings"></i>
                                            <span>@localizer["Settled Online Orders"] </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="FinancialAccounts" asp-action="OrderOnlineFinancialAccountsNotConfirmed">
                                            <i class="zmdi zmdi-view-dashboard"></i>
                                            <span>@localizer["Unsettled Online Orders"]</span>
                                        </a>
                                    </li>
                                </ul>
                            
                            </li>
                        }

                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Sliders.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Sliders" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Advertisements"]
                                </a>
                            </li>
                        }
                           @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.OrderCycleIntroScreen.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="OrderCycleIntroScreen" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Order Introductory Pages"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.IntroScreens.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="IntroScreens" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Introductory Pages"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.CommonQuestion.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="QuestionClients" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Common Questions"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Banks.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="AdminBankAccount" asp-action="Index">
                                    <i class="fa fa-bullhorn" aria-hidden="true"></i>
                                    @localizer["Banks"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Notifications.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="SendNotification" asp-action="Index">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    @localizer["Notifications"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Notifications.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="SendNotification" asp-action="GetAllNotifcation">
                                    <i class="fa fa-bell" aria-hidden="true"></i>
                                    @localizer["AllNotifications"]
                                </a>
                            </li>
                        }
                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.ContactUs.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="ContactUs" asp-action="Index">
                                    <i class="fa fa-paperclip" aria-hidden="true"></i>
                                    @localizer["Contact Us"]
                                </a>
                            </li>
                        }

                        @if (User.IsInRole(Roles.Admin.ToString()) || User.IsInRole(Roles.Setting.ToString()))
                        {
                            <li>
                                <a class="nav-link" asp-area="" asp-controller="Settings" asp-action="Edit" asp-route-id="1">
                                    <i class="fa fa-cog" aria-hidden="true"></i>
                                    @localizer["Settings"]
                                </a>
                            </li>
                        }

                        @if (User.IsInRole(Roles.Admin.ToString()))
                        {
                            <li class="has_sub">
                                <a href="javascript:void(0);" class="waves-effect">
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span class="label label-warning pull-left"></span>
                                    <span> @localizer["User Permissions"]</span>
                                </a>
                                <ul class="list-unstyled" style="">
                                    <li>
                                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UserInRoles">
                                            <i class="zmdi zmdi-settings"></i>
                                            <span> @localizer["Add Permission"]</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="~/Identity/Account/register" class="nav-link">
                                            <i class="zmdi zmdi-view-dashboard"></i>
                                            <span> @localizer["Add User"]</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }


                    </ul>
                    <!--end-->

                    <div class="clearfix"></div>
                </div>
                <!-- Sidebar -->
                <div class="clearfix"></div>

            </div>

        </div>
        <!-- Left Sidebar End -->
        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="content-page">
            <!-- Start content -->
            <div class="content">
                @*<div class="container">*@

                <div>
                    @RenderBody()
                </div>

            </div> <!-- content -->

            <footer class="footer text-right">
                @localizer["Mumaken © 2023 - 2024"]
            </footer>

        </div>


        <!-- ============================================================== -->
        <!-- End Right content here -->
        <!-- ============================================================== -->
        <!-- Right Sidebar -->
        <div class="side-bar right-bar">
            <a href="javascript:void(0);" class="right-bar-toggle">
                <i class="zmdi zmdi-close-circle-o"></i>
            </a>
            <h4 class="">@localizer["Notifications"]</h4>

        </div>
        <!-- /Right-bar -->



    </div>
    <!-- END wrapper -->

    <script>
        var resizefunc = [];
    </script>

    <!-- jQuery  -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/detect.js"></script>
    <script src="~/assets/js/fastclick.js"></script>
    <script src="~/assets/js/jquery.blockUI.js"></script>
    <script src="~/assets/js/waves.js"></script>
    <script src="~/assets/js/jquery.nicescroll.js"></script>
    <script src="~/assets/js/jquery.slimscroll.js"></script>
    <script src="~/assets/js/jquery.scrollTo.min.js"></script>
    <script src="~/assets/plugins/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/assets/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.all.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.all.min.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.js"></script>
    <script src="~/js/sweetalert2/sweetalert2.min.js"></script>
    <script src="~/assets/js/jquery.fancybox.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script src="~/assets/js/tempusdominus-bootstrap-3.min.js"></script>
    <!-- Modal-Effect -->
    <script src="~/assets/plugins/custombox/dist/custombox.min.js"></script>
    <script src="~/assets/plugins/custombox/dist/legacy.min.js"></script>
    <!--Morris Chart-->
    <!--Chartist Chart-->
    <!-- KNOB JS -->
    <!--[if IE]>
    <script type="text/javascript" src="~/assets/plugins/jquery-knob/excanvas.js"></script>
    <![endif]-->
    <script src="~/assets/plugins/jquery-knob/jquery.knob.js"></script>

    <!--Morris Chart-->
    <!-- Datatables-->
    <script src="~/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/assets/plugins/datatables/datatables.bootstrap.js"></script>
    <script src="~/assets/plugins/datatables/jszip.min.js"></script>


    <script src="~/assets/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="~/assets/plugins/datatables/responsive.bootstrap.min.js"></script>
    <!-- Datatable init js -->
    <script src="~/assets/pages/datatables.init.js"></script>

    <script src="~/assets/plugins/chart.js/Chart.js"></script>

    <!-- App js -->
    <script src="~/assets/js/jquery.core.js"></script>
    <script src="~/assets/js/jquery.app.js"></script>
    <script src="~/assets/js/select-2.js"></script>

    @*<script type="text/javascript" src='https://maps.google.com/maps/api/js?libraries=places&key=AIzaSyB_oSewQNaoaW8F2_WxAC5eFwoeaZYpOHE&language=ar'></script>*@
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation/dist/additional-methods.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
 *@

    <script type="text/javascript">
        $(document).ready(function () {

            let isRtl = $('html').attr("lang");
            console.log(isRtl);
            let tableTanguage = {};

            let arTable = {
                paginate: {
                    previous: `<i class="fa-solid fa-angles-left"></i>`,
                    next: `<i class="fa-solid fa-angles-right"></i>`,
                },
                sProcessing: "جارٍ التحميل...",
                sLengthMenu: "أظهر _MENU_ مدخلات",
                sZeroRecords: "لم يعثر على أية سجلات",
                sInfo: "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                sInfoEmpty: "يعرض 0 إلى 0 من أصل 0 سجل",
                sInfoFiltered: "(منتقاة من مجموع _MAX_ مُدخل)",
                sInfoPostFix: "",
            };

            let enTable = {
                paginate: {
                    previous: `<i class="fa fa-chevron-left" aria-hidden="true"></i>`,
                    next: `<i class="fa fa-chevron-right" aria-hidden="true"></i>`,
                },
                sLengthMenu: "Display _MENU_ records per page",
                sZeroRecords: "Nothing found - sorry",
                zInfo: "Showing page _PAGE_ of _PAGES_",
                sInfoEmpty: "No records available",
                sInfoFiltered: "(filtered from _MAX_ total records)",
            };


            if (isRtl == 'ar') {
                tableTanguage = arTable;
            } else {
                tableTanguage = enTable;
            }


            $('#datatable-responsive').DataTable({
                "language": tableTanguage, 
                "order": []
            });


        });
        TableManageButtons.init();

        $(document).ready(function () {
            toastr.options = {
                "debug": false,
                "positionClass": "toast-top-left",
                "onclick": null,
                "fadeIn": 300,
                "fadeOut": 1000,
                "timeOut": 5000,
                "extendedTimeOut": 1000
            }
        });
    </script>
    <script>
        $(".select-2").select2();
    </script>




    @RenderSection("scripts", required: false)
    @await Component.InvokeAsync("NToastNotify")
    <!------------------------------------------------------------------------------------------------->


    <script>


        $(document).ready(function () {
            if (localStorage.color != undefined) {
                $("body").attr("data-progictColor", localStorage.color);

            }

            $(".change_color").delay(2000).animate({ "left": "-95px", opacity: "0.6" });

            $(".change_color ul > span").on("click", function () {

                $(this).toggleClass("active");

                if ($(this).hasClass("active")) {

                    $(this).parents(".change_color").css({ "left": "5px", "opacity": "1" });
                    $(this).children().css({ "transform": "scale(-1)" });

                } else {

                    $(this).parents(".change_color").css({ "left": "-95px", "opacity": "0.6" });
                    $(this).children().css({ "transform": "scale(1)" });

                }

            });

            $(".change_color").on("click", function (e) {

                e.stopPropagation();
            });


            $("body").on("click", function () {

                if ($(".change_color ul > span").hasClass("active")) {

                    $(".change_color ul > span").click();
                }
            });


            $(".change_color ul > li").on("click", function () {

                $(this).addClass("active").siblings("li").removeClass("active");
            });


            $(".change_color li").on("click", function () {

                localStorage.color = $(this).attr("data-color");
                $("body").attr("data-progictColor", localStorage.color);

            });

        });


    </script>

    <script>
        function changeLanguage(culture) {

            $.ajax({
                url: '/Language/SetLanguage',
                type: 'POST',
                data: { culture: culture, returnUrl: '@returnUrl' },
                success: function (result) {
                    location.reload()
                },
                error: function (error) {
                    console.error('Error changing language:', error);
                }
            });
        }
    </script>
    <script>
        $(document).ready(function () {
            // $('#summernote').summernote({
            //     placeholder: '',
            //     tabsize: 4,
            //     height: 300
            // });

            $('.summernote').summernote({
                placeholder: '',
                tabsize: 4,
                height: 300
            });
            $('#summernote').summernote('code', '');
        });
        
    </script>
</body>
</html>
