@model IEnumerable<Mumaken.Domain.ViewModel.FinancialAccount.OrderCashFinancialAccountIndexViewModel>
@inject IViewLocalizer localizer
@{
    ViewData["Title"] = @localizer["Financial Accounts - Settled"];
}

<div class="card-box">
    <h2 class="header-title m-t-0 m-b-30">@localizer["Financial Accounts (Cash Orders) - Settled"]</h2>

    <div>
        <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>@localizer["Service Provider Name"]</th>
                   @*  <th>@localizer["Service Provider Email"]</th> *@
                    <th>@localizer["Service Provider Phone"]</th>
                    <th>@localizer["Bank Name"]</th>
                    <th>@localizer["IBAN Number"]</th>
                    <th>@localizer["App Commission"]</th>
                    <th>@localizer["Total Orders"]:</th>
                    <th>@localizer["Service provider ratio"]:</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.ProviderName
                        </td>
                        @* <td>
                            @item.ProviderEmail
                        </td> *@
                        <td>
                            @item.ProviderPhone
                        </td>
                        <td>
                            @item.AdminBankBankName
                        </td>
                        <td>
                            @item.AdminBankBankIBN
                        </td>
                        <td>
                            @item.AppTax
                        </td>
                        <td>
                            @item.TotalOrderPrice
                        </td>
                        <td>
                            @item.ProviderPrice
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <!-- -------------------------------------------------------------------------------------------------- -->
    </div><!-- end row -->
</div>
