@{
    Layout = "_Layout2";
}
<div class="auth_layout">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <h2 class="fs15 ff-d mb-4 text-center"> @localizer["Condition And Terms"]</h2>

                <p class="fs13 lh-md c-gray text-center">
                    @*  @ViewBag.aboutUs *@
                    @Html.Raw(ViewBag.conditionAndTerms)
           @*          @if (ViewBag.lang == "ar")
                    {
                        <div style="font-family: 'Arial', sans-serif; white-space: pre-wrap; direction: rtl;">
                            @Html.Raw(ViewBag.conditionAndTerms)
                        </div>
                    }
                    else
                    {
                        <pre class="wrap">
                            @Html.Raw(ViewBag.conditionAndTerms)
                            </pre>
                    } *@
                </p>
            </div>
        </div>
    </div>
</div>