@model Mumaken.Domain.ViewModel.Auth.ForgetPasswordViewModel
@{
    Layout = "_Layout2";
}

<form method="post" class="auth_layout">
    <div class="container">
        <input type="hidden" asp-for="phoneCode" />
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7">

                <div class="form-heading">
                    <h3 class="form-title">@localizer["Restore password"]</h3>
                    <p class="form-text">@localizer["Enter your Phone number"]</p>
                </div>

                <div class="input-g">
                    <lablel class="main-label" asp-for="phone">@localizer["Phone Number"] <span class="hint">*</span> </lablel>
                    <div class="main-input">
                        <input type="number" class="input-me telephone" asp-for="phone" placeholder="@localizer["Please Enter Phone Number"]">
                        <span asp-validation-for="phone" class="text-danger"></span>
                    </div>
                </div>

                <input type="submit" class="main-btn w-100 up" value="@localizer["Send"]" />

            </div>
        </div>

    </div>
</form>
@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(document).ready(function () {
            var phoneCodeText = $(".iti__selected-dial-code").text();
            $("#phoneCode").val(phoneCodeText)
        })
        $(document).on('click', '#iti-0__country-listbox', function () {
            var phoneCodeText = $(".iti__selected-dial-code").text();
            $("#phoneCode").val(phoneCodeText)
        });

    </script>
}