@model Mumaken.Domain.ViewModel.Auth.ChangePasswordByCodeViewModel
@{
    Layout = "_Layout2";
}     
   

<!--================ Start Form ================-->
<form method="post" class="auth_layout">
    <div class="container">

        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-7">

                <div class="form-heading">
                    <h3 class="form-title">@localizer["Restore password"]</h3>
                    <p class="form-text">@localizer["Enter the new password"]</p>
                </div>

                <div class="input-g">
                    <lablel class="main-label">@localizer["New Password"] <span class="hint">*</span> </lablel>
                    <div class="main-input">
                        <input type="password" class="input-me" asp-for="newPassword" placeholder="@localizer["Please enter a new password"]">
                        <span asp-validation-for="newPassword" class="text-danger"></span>
                    </div>
                </div>

                <div class="input-g">
                    <lablel class="main-label">@localizer["confirm password"] <span class="hint">*</span> </lablel>
                    <div class="main-input">
                        <input type="password" class="input-me" asp-for="confirmNewPassword" placeholder="@localizer["Please enter confirm password"]">
                        <span asp-validation-for="confirmNewPassword" class="text-danger"></span>
                    </div>
                </div>

                <button type="submit" class="main-btn w-100 up">@localizer["Confirm"]</button>

            </div>
        </div>

    </div>
</form>
<!--================ End Form ================-->
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}   